.col-6.right{
    background-image: url('images/bg-pattern-desktop.svg');
    width: 500px;
}
.logo{
    margin-bottom: 150px;
}
h1{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
.head{
    color: hsl(0, 36%, 70%);
}
.heading{
    color: hsl(0, 6%, 24%);
}
p{
    color: hsl(0, 36%, 70%);
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
input{
    border-color: hsl(0, 93%, 68%);
    border-radius: 13px;
    padding: 15px;
    margin-left: 0px;
}
.email{
    background-color: hsl(0, 36%, 70%);
    color: hsl(0, 93%, 68%);
    border-radius: 50px;
    padding: 15px;
    margin-left: 0px;
}